{% extends "base.html" %}

{% load static %}

{% block title %}Carrinho de Compras{% endblock %}

{% block content %}
<div class="content-cart">
        <!-- <h2>Carrinho de Compras</h2> -->
        {% if produtos %}
            <ul class="cart-products">
                {% for produto in produtos %}
                    <li class="cart-product">
                        <img src="{{ produto.imagemproduto_set.all.first }}" alt="{{ produto.nome }}">
                        <div class="productCart-info">
                            <h3>{{ produto.nome }}</h3>
                            <p>{{ produto.especificacoes }}</p>
                            <p>R$ {{ produto.preco }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="cart-summary">
                <h2>Resumo da compra</h2>

                <p>Produtos: R${{ preco_final }}</p>
                <p>Frete(s): R${{  frete|floatformat:2 }}</p>
                <p class="total">Total: R${{ preco_final|add:frete }}</p>
                <button>Finalizar Compra</button>
            </div>
        {% else %}
            <p>Seu carrinho está vazio.</p>
        {% endif %}
    </div>
{% endblock %}