{% extends "base.html" %}

{% load static %}

{% block title %}Carrinho de Compras{% endblock %}

{% block content %}
    <div class="content-buy">
        <div class="buy-conteiner">
            <h2>Enviar para o meu endereço</h2>
            <div>
                Selecione entre os endereços cadastrados ou adicione um novo endereço.
            </div>
        </div>
        <div class="buy-conteiner">
            <h2>Forma de pagamento</h2>
            <div>
                Selecione entre os endereços cadastrados ou adicione um novo endereço.
            </div>
        </div>
        <div class="buy-conteiner">
            <button>
                Continuar
            </button>
        </div>
    </div>
{% endblock %}