{% extends "base.html" %}

{% load static %}

{% block title %}Página Principal{% endblock %}

{% block content %}

    <div class ="content">
        <h2>Veja nossos melhores produtos:</h2>
        <div class="products">
            {% for produto in produtos %}
                <a class="product" href="{% url 'get_produto' produto.id %}">
                    <div >
                        <img src="{{ produto.imagemproduto_set.all.first}}" alt="{{ produto.nome }}">
                        <h3>{{ produto.nome }}</h3>
                        <p>R$ {{ produto.preco }}</p>
                    </div>
                </a>
    
            {% endfor %}
        </div>
    </div>


{% endblock %}
