{% extends "base.html" %}

{% load static %}

{% block title %}Página Principal{% endblock %}

{% block content %}

    <h2>Veja nossos melhores produtos:</h2>
    <div>
        {% for produto in produtos %}

            <a href="{% url 'get_produto' produto.id %}">
                <div class="produto">
                    <img src="{{ produto.imagemproduto_set.all.first}}" alt="{{ produto.nome }}">
                    <h3>{{ produto.nome }}</h3>
                    <p>{{ produto.descricao }}</p>
                    <p>R$ {{ produto.preco }}</p>
                    <button>Adicionar ao carrinho</button>
                </div>
            </a>

        {% endfor %}
    </div>


{% endblock %}
