{% extends "base.html" %}

{% load static %}

{% block title %}Página Principal{% endblock %}

{% block content %}

    <h2>Bem-vindo à Página Principal</h2>
    <p>Explore nossa loja e aproveite nossas ofertas.</p>


    {% for produto in produtos %}
        <a href="{% url 'get_produto' produto.id %}">
            <div class="produto">
                <h3>{{ produto.nome }}</h3>
                <p>{{ produto.descricao }}</p>
                <p>R$ {{ produto.preco }}</p>
                <button>Adicionar ao carrinho</button>
            </div>
        </a>
    {% endfor %}


{% endblock %}
